@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, rgb(71, 12, 98), rgb(114, 18, 114));
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {   
    background-color: white;
    height: 80vh;
    border-radius: 10px;
}

.imagem > img {
    max-width: 460px;
    border-radius: 10px 10px 0px 0px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 4rem;
    padding-top: 2rem;
}

.login > form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    
}

.switchcontainer {
    display: flex;
}


